<div class="col-md-8">
  <p id="notice"><%= notice %></p>
  
  <h1><%= @friend.full_name %>'s Exercises</h1>
  <%= link_to "Back", user_exercises_path(current_user), class: "btn btn-primary link" %>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (min)</th>
        <th>Workout Details</th>
        <th>Activity Date</th>
      </tr>
    </thead>
    
    <tbody>
      <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.duration_in_min %></td>
        <td><%= truncate(exercise.workout_type, length: 100) %></td>
        <td><%= exercise.workout_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  <% if @exercises.size > 0 %>
    <%= content_tag :div, "", id: "chart", data: {workouts: @exercises} %>
    <br>
    <strong>Calories Burned</strong>
    <%= content_tag :div, "", id: "chart2", data: {workouts: @exercises} %>
    <br>
    <strong>Weight</strong>
    <%= content_tag :div, "", id: "chart3", data: {workouts: @exercises} %>
  <% end %>
</div>