<div class="col-md-8 col-md-10">
  <% unless @exercises.empty? %>
  <h1>Listing Exercises</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (min)</th>
        <th>Workout details</th>
        <th>Calories Burned</th>
        <th>Calories Consumed</th>
        <th>Weight</th>
        <th>Activity date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.duration_in_min %></td>
        <td><a href="/users/<%= current_user.id %>/exercises/<%= exercise.id%>"> <%= truncate(exercise.workout_type, length: 100) %> </a></td>
        <td><%= exercise.calories_burned %></td>
        <td><%= exercise.calories_eaten %></td>
        <td><%= exercise.weight %></td>
        <td><%= exercise.workout_date %></td>
        <td><%= link_to "Show", [current_user, exercise], class: "btn btn-xs btn-info" %></td>
        <td><%= link_to "Edit", [:edit, current_user, exercise], class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Destroy", [current_user, exercise], method: :delete, 
                                    data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
  <div class="alert alert-danger message-font text-center" role="alert">
    No Workouts yet
  </div>
  <br>
  <% end %>
  
	<%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-primary link" %>
	<% if @exercises.size > 0 %>  
	  <%= content_tag :div, "", id: "chart", data: {workouts: @exercises} %>
	  <br>
	  <strong>Calories Burned</strong>
	  <%= content_tag :div, "", id: "chart2", data: {workouts: @exercises} %>
	  <br>
	  <strong>Weight</strong>
	  <%= content_tag :div, "", id: "chart3", data: {workouts: @exercises} %>
  <% end %>
</div>